@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box; /* Mencegah elemen melebihi ukuran */
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}
html, body {
    overflow-x: hidden; /* Mencegah scroll ke samping */
}

a, p, h1, h2, img, button, li{
    user-select: none; /* Mencegah teks bisa dipilih */
    outline: none; /* Hilangkan garis fokus */
}


header {
    position: fixed; /* Membuat header tetap di atas */
    top: 0; /* Tempel di bagian atas */
    left: 0;
    width: 100%; /* Pastikan header mencakup seluruh lebar layar */
    background-color: white; /* Pastikan background tidak transparan */
    z-index: 1000; /* Pastikan header tetap di atas elemen lain */
    
}
 
nav{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    top: 0px;
}
nav a{
    
    font-family: "Poppins", serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Tengahkan horizontal */
    align-items: center; /* Tengahkan vertikal */
    flex-direction: column;
    border-bottom: 4px solid black;
    
    
}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 0px;
  
}
.button{
    margin-bottom: 30px;
}

.descript{
    font-family: 'playfair display', serif;
    font-size: 25px;
    margin-top: 10px;
}
.descript2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.get-started {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(10, 10, 11);
    padding: 12px 20px;
    border-radius: 50px;
    background-color: rgb(0, 49, 211);
    text-decoration: none;
    color: white;

}
.view-plans {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(15, 15, 16);
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;

}

.get-started:hover{
    background-color: white;
    color:rgb(10, 10, 11);
    transition-duration: 0.5s;
    
}

.view-plans:hover{
    background-color: rgb(0, 49, 211);
    color:rgb(255, 255, 255);
    transition-duration: 0.5s;
    
}
.gambar1{
    width: 60%;
    height: auto;
    margin-top: 0px;
}

.p{
    font-family: 'playfair display', Courier, monospace;
    font-size: 20px;
    color:rgb(0, 0, 0,);
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid rgba(124, 3, 172, 0.5);
    padding: 10px 20px;
    background-color: aliceblue;
}

.p:hover{
    background-color: rgba(124, 3, 172, 0.5);
    border: 2px solid black;
    transition-duration: 0.5s;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid black;
    padding: 20px;
   
}


.left-box1{
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid black;

}

.right-box1 {
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.gambar2{
    width: 80%;
    height: 80%;
}

.text-footer ul li{
    font-family: 'playfair display', serif;
    padding: 5px;
    font-size: 12px ;
}
.footer{
    padding: 60px;
    height: 850x;
}
.content-footer{
    margin-top: 0px;
}
.text-table-footer{
    margin-left: 60px;
    display: flex;
    gap: 180px; 
   
}

.conten-table p{
    margin-bottom: 0px;
    font-family: "Poppins", serif;
    font-size: 12px;
    
}

/*page2*/
.container-apple2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center; 
    overflow: hidden;
    border-bottom: 2px solid black;
}
.container-apple2 h1{
    position: relative;
    font-family: "playfair display", serif;
    font-size: 100px;
    padding-top: 30px;
    margin-bottom: 0px;

}

.container-apple2 p{
    position: relative;
    font-family: "Poppins", Times, serif;
    font-size: 18px;
    padding-left: 190px;
    padding-right: 190px;
    
}

.container-apple2 img{
    
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.teks{
    position: absolute;
    color: rgb(0, 0, 0); /* Warna teks */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: rgba(166, 0, 250, 0.5); /* Latar belakang transparan */
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid black;
}

.teks:hover{
    color:rgb(255, 255, 255);
    background: black;
    border: 2px solid  rgba(166, 0, 250, 0.5);
    transition-duration: 0.5s;
}